#view-api {
  .CodeMirror {
    border: 1px solid #eee;
    border-width: 1px 0;
  }

  .edit-panel {
    width: 80%;
    min-width: 320px;
    max-width: 560px;
    position: absolute;
    height: 100%;
    z-index: 6;
    left: 100%;
    top: 0;
    transform: translate3d(-100%, 0, 0);
    transition:transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    &.ng-hide {
      transform: translate3d(0,0,0);
    }
    &-mask {
      background-color: rgba(0,0,0,.5);
      z-index: 5;
      position: absolute;
      left: 0;
      top: 0;
    }
    .input-row-wrapper {
      margin: 2px 0;
      md-input-group {
        margin: 0 8px 0 0;
      }
    }
    .mockjs-hint {
      text-align: right;
      border-bottom: 1px solid #eee;
      font-size: .8em;
      color: #AAA;
    }
  }

  .api-desc{
    font-size: 100%;
    position: relative;
    &.disabled {
      background-color: #E0E0E0;
    }
    md-input-group > input {
      width: 100%;
    }

  }

  .route-item-content {
    z-index: 2;

    .info-key {
      font-weight: bold;
      margin-right: 0.25em;
    }
    .info-content-type {
      font-size: 80%;
      line-height: 2em;
      padding: 0 1em;
      position: absolute;
      right: 0;
      top: 1px;
      background-color: rgba(0,0,0,.6);
      color: #FFF;
    }
    .info-list-item-key {
      font-weight: bold;
      margin-left: .75em;
      padding-right: .2em;
      color: #888;
    }

    .CodeMirror {
      height: auto;
    }
  }

  .info-content-group {
    margin: 1em 0;
    padding: 0 1em;
    line-height: 1.5;
    position: relative;

    &.code {
      padding: 0;
    }
  }

  .fab-button-container {
    .fab-button-container-inner {
      width: 100%;
      max-width: 720px + 78px * 2;
      height: 0;
      margin: 0 auto;
      position: relative;
      z-index: 5;
    }
    .button-edit {
      position: absolute;
      bottom: 16px;
      right: 12px;
    }
  }

  .disabled {
    filter: grayscale(50%);
  }


  .error-info {
    position: relative;
    > .error-info-item {
      margin: 12px 0;
      &.md-button {
        min-width: 8em;
        font-size: 1.2em;
      }
    }
  }
}

.create-api-dialog {
  width: 50%;
  .namespace {
    margin-right: 10px;
  }
  md-input-group {
    margin-top: 0;
    > input {
      width: 100%;
    }
  }

  .md-actions {
    .md-button {
      min-width: 4em;
    }
  }
}
