<div layout="column" id="view-api" >
  <search path="{{api.path}}" namespace="{{api.namespace}}" namespaces="namespaces"></search>
  <div layout="column" flex class="api-info" ng-if="!error && api.route">
    <md-toolbar ng-class="{'disabled': api.disabled, 'md-hue-1': !api.disabled}" class="api-desc" >
      <form class="md-toolbar-tools invisible-fence" name="apiDescForm" style="position: relative;">
        <!--TODO: Waiting for https://github.com/angular/material/issues/547 to be fixed-->
        <!--<md-text-float-->
          <!--ng-model="description"-->
          <!--ng-blur="updateDescription()"-->
          <!--flex-->
          <!--label="API Description"></md-text-float>-->
        <md-input-container class="md-default-theme no-error" flex>
          <label>API Description</label>
          <input ng-model="api.description" ng-focus="cacheDescription()" ng-blur="updateDescription(apiDescForm)" name="description" required="true" />
        </md-input-container>
        <div>
          <md-switch ng-model="api.disabled" class="md-warn" aria-label="Disabled" ng-change="saveApi()"></md-switch>
          <md-tooltip>
            Disable
          </md-tooltip>
        </div>
      </form>
    </md-toolbar>
    <section ng-controller="RouteCtrl" class="route" ng-if="false">
      route
      <script type="text/ng-template" id="nodes_renderer.html">
        <div class="tree-node">
          <div class="pull-left tree-handle" ui-tree-handle>
            <span class="glyphicon glyphicon-list"></span>
          </div>
          <div class="tree-node-content">
            <a class="btn btn-success btn-xs" ng-click="toggle(this)"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>
            {{node.title}}
            <a class="pull-right btn btn-danger btn-xs" ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a>
            <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span class="glyphicon glyphicon-plus"></span></a>
          </div>
          <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">

          <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
          </li>
            </ol>
        </div>
      </script>
      <div ui-tree id="tree-root" data-drag-enabled="true">
        <ol ui-tree-nodes="" ng-model="api">
          <li ng-repeat="node in data" ui-tree-node ng-include="'nodes_renderer.html'"></li>
        </ol>
      </div>
    </section>
    <section ng-controller="RouteitemCtrl" flex style="overflow: auto;">
      <div flex layout="column" class="invisible-fence">
        <div ng-controller="RouteitemInfoCtrl" class="route-item-content" flex>
          <input type="text" placeholder="Route item description" ng-model="item.description" flex ng-show="false"/>
          <div class="info-content-group">
            <span class="info-key">Status:</span>
            {{routeItem.response.content.status + ' ' + HTTP_STATUS_CODE[routeItem.response.content.status]}}
          </div>
          <div class="info-content-group code">
            <ui-codemirror ui-codemirror-opts="editorOptions" ng-model="routeItem.response.content.body"></ui-codemirror>
            <span class="info-content-type">{{routeItem.response.content.type}}</span>
          </div>
          <div class="info-content-group" ng-show="routeItem.response.content.headers.length">
            <span class="info-key">Headers:</span>
            <div ng-repeat="header in routeItem.response.content.headers">
              <span class="info-list-item-key">{{header.key}}:</span>{{header.value}}
            </div>
          </div>
        </div>
      </div>
      <div ng-controller="RouteitemEditCtrl"
           ng-show="editMode==='routeitem'"
           ng-animate="'animate'"
           class="md-whiteframe-z2 edit-panel"
           layout="column">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <md-button ng-click="save()" aria-label="Save">
              <md-icon md-svg-src="/bower_components/material-design-icons/action/svg/production/ic_done_24px.svg"></md-icon>
            </md-button>
            <md-button ng-click="cancel()" aria-label="Cancel">
              <md-icon md-svg-src="/bower_components/material-design-icons/navigation/svg/production/ic_close_24px.svg"></md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <md-content flex>
          <div class="info-content-group">
            <md-select ng-model="item.response.content.status">
              <md-select-label>{{item.response.content.status + ' ' + HTTP_STATUS_CODE[item.response.content.status]}}</md-select-label>
              <md-option ng-value="key" ng-repeat="(key, value) in HTTP_STATUS_CODE">{{ key+' '+value }}</md-option>
            </md-select>
            <!--<select ng-model="item.response.content.status"-->
                    <!--ng-options="key as (key+' '+value) group by (key[0]+'XX') for (key, value) in HTTP_STATUS_CODE"></select>-->
            <md-select ng-model="item.response.content.type">
              <md-select-label>{{item.response.content.type}}</md-select-label>
              <md-option ng-value="key" ng-repeat="(key, value) in modes">{{ key }}</md-option>
            </md-select>
            <md-checkbox ng-model="item.response.inherited" ng-if="false">
              Inherited
            </md-checkbox>
          </div>

          <div class="info-content-group code">
            <div ng-show="error.JSON_INVALID" class="input-error-hint">
              <!--<object data="/bower_components/material-design-icons/alert/svg/production/ic_error_18px.svg"></object>-->
              Invalid JSON <a href="http://pro.jsonlint.com/" target="_blank">(?)</a>
            </div>
            <ui-codemirror ui-codemirror-opts="editorOptions" ng-model="item.response.content.body"></ui-codemirror>
            <div ng-show="item.response.content.type==='json'" class="mockjs-hint">
              支持 <a href="javascript:;" ng-click="showMockjsDoc($event)">Mockjs 语法</a>
            </div>
          </div>
          <!--<md-button ng-hide="showAdvancedContent" ng-click="showAdvancedContent=true">Show Advanced Content</md-button>-->
          <!--<div ng-show="showAdvancedContent">-->
          <div class="info-content-group">
            <div layout layout-sm="row" layout-align="center center" ng-repeat="header in item.response.content.headers">
              <md-input-container flex class="no-error">
                <label>Header {{$index+1}}</label>
                <input ng-model="header.key">
              </md-input-container>
              <md-input-container flex class="no-error">
                <label>Value {{$index+1}}</label>
                <input ng-model="header.value">
              </md-input-container>
              <md-button ng-click="item.response.content.headers.splice($index, 1)" aria-label="Remove header">
                <md-icon md-svg-src="/bower_components/material-design-icons/content/svg/production/ic_remove_24px.svg"></md-icon>
              </md-button>
            </div>
            <md-button ng-click="item.response.content.headers.push({key:'',value:''})" aria-label="Add header">
              <md-icon md-svg-src="/bower_components/material-design-icons/content/svg/production/ic_add_24px.svg"></md-icon>
            </md-button>
          </div>
          <!--</div>-->
        </md-content>
      </div>

      <div ng-show="editMode"
           class="edit-panel-mask"
           layout-fill></div>
    </section>

    <div class="fab-button-container">
      <div class="fab-button-container-inner invisible-fence">
        <md-button ng-click="setEditMode('routeitem')" ng-disabled="api.disabled" aria-label="Edit Route item" class="button-edit md-fab">
          <md-icon md-svg-src="/bower_components/material-design-icons/editor/svg/production/ic_mode_edit_24px.svg"></md-icon>
        </md-button>
      </div>
    </div>

  </div>
  <!--错误信息-->
  <div layout="column" layout-align="center center"
       flex class="error-info" ng-if="error">
    <object class="error-info-item" data="/bower_components/material-design-icons/alert/svg/production/ic_error_48px.svg"></object>
    {{error.message}}
    <md-button class="error-info-item md-primary" ng-show="error.status===404" ng-click="showCreateApiDialog($event)">Create It</md-button>
  </div>
</div>
