<md-dialog aria-label="Create API" class="create-api-dialog">
  <form novalidate name="createApiForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h3>Create API</h3>
      </div>
    </md-toolbar>
    <md-content>
      <div layout="row" layout-align="center center">
        <select
          name="namespace"
          ng-model="api.namespace"
          ng-options="namespace for namespace in namespaces"
          class="namespace">
        </select>
        <md-text-float label="Path" name="path" ng-model="api.path" required="true" flex></md-text-float>
      </div>
      <div class="input-error-hint" ng-show="createApiForm.$submitted || createApiForm.path.$touched">
        <div ng-show="createApiForm.path.$error.required">Path required.</div>
      </div>
      <div layout="row">
        <md-text-float label="Description" name="description" ng-model="api.description" required="true" flex></md-text-float>
      </div>
      <div class="input-error-hint" ng-show="createApiForm.$submitted || createApiForm.description.$touched">
        <div ng-show="createApiForm.description.$error.required">Description required.</div>
      </div>
    </md-content>
    <div class="md-actions" layout="row">
      <md-button type="submit" ng-click="submit(createApiForm)" aria-label="Create">
        <md-icon icon="/bower_components/material-design-icons/action/svg/production/ic_done_24px.svg"></md-icon>
      </md-button>
      <md-button ng-click="cancel()" aria-label="Cancel">
        <md-icon icon="/bower_components/material-design-icons/navigation/svg/production/ic_close_24px.svg"></md-icon>
      </md-button>
    </div>
  </form>
</md-dialog>
