<md-dialog aria-label="Create API" class="create-api-dialog">
  <form name="createApiForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h3>Create API</h3>
      </div>
    </md-toolbar>
    <md-content>
      <div layout="row" layout-align="center center">
        <select
          name="namespace"
          ng-model="api.namespace"
          ng-options="namespace for namespace in namespaces"
          class="namespace">
        </select>
        <md-input-container flex>
          <label>Path</label>
          <input name="path" ng-model="api.path" required />
          <div ng-messages="createApiForm.path.$error">
            <div ng-message="required">Path required.</div>
          </div>
        </md-input-container>
      </div>
      <md-input-container>
        <label>Description</label>
        <input name="description" ng-model="api.description" required />
        <div ng-messages="createApiForm.description.$error">
          <div ng-message="required">Description required.</div>
        </div>
      </md-input-container>
    </md-content>
    <div class="md-actions" layout="row">
      <md-button type="submit" ng-click="submit(createApiForm)" aria-label="Create">
        <md-icon icon="/bower_components/material-design-icons/action/svg/production/ic_done_24px.svg"></md-icon>
      </md-button>
      <md-button ng-click="cancel()" aria-label="Cancel">
        <md-icon icon="/bower_components/material-design-icons/navigation/svg/production/ic_close_24px.svg"></md-icon>
      </md-button>
    </div>
  </form>
</md-dialog>
